<!DOCTYPE html>
<html>

<head>
  <title>Ottelun muokkaus</title>
</head>

<body>
    <h1>Ottelun muokkaus</h1>
  <form action="/update_match" method="post">
    <p>
        Kotijoukkue: <br />
        <input type="text" name="home_team" />
      </p>
      <p>
        Vierasjoukkue: <br />
        <input type="text" name="away_team" />
      </p>
      <p>
        Stadion: <br />
        <input type="text" name="stadium" />
      </p>
      <p>
        Päivämäärä: <br />
        <input type="date" name="date" />
      </p>
      <p>
        Tunnelma (1-5): <br />
        <label><input type="radio" name="atmosphere_rating" value="1" /> 1</label>
        <label><input type="radio" name="atmosphere_rating" value="2" /> 2</label>
        <label><input type="radio" name="atmosphere_rating" value="3" /> 3</label>
        <label><input type="radio" name="atmosphere_rating" value="4" /> 4</label>
        <label><input type="radio" name="atmosphere_rating" value="5" /> 5</label>
      </p>
      <p>
        Kommentit: <br />
        <textarea name="notes" rows="4" cols="50" maxlength="50" required></textarea>
      </p>
      <input type="hidden" name="match_id" value="{{ match.id }}" />
    <input type="submit" value="Päivitä ottelu"/>
  </form>
</body>

</html>